$font1:Quicksand;
$font2:Montserrat;
$font3:Bitter;

// Colores
$bgc1:#eaeadc;
$bgc2:#e5e5dc;
$bgc3:#d4c9be;
$bgc4:#92948F;
$bgc5: rgb(21, 80, 21);

$bgc6:#bcab7d;
$bgc7:#fffae8;
$bgc8:#bcab7d;

$verde1:#606d47;
$verde2:#155015;


